<p-toast position="bottom-right"></p-toast>

<p-toolbar [style]="{ height: '80px', boxShadow: '1px 1px 4px #000' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" width="56" alt="logo" />
    </div>
    <div class="p-toolbar-group-center text-black text-lg font-semibold">
        {{ title }}
    </div>

    <div class="p-toolbar-group-end relative cursor-pointer">
        <div class="relative" (click)="openCart()">
            <i class="pi pi-shopping-cart text-black" style="font-size: 1.5rem"></i>
            <span *ngIf="cartCount() > 0" 
                  class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold rounded-full px-1">
                {{ cartCount() }}
            </span>
        </div>
        <span class="mx-3 text-gray-300">|</span>
        <div *ngIf="isLoggedIn()" class="relative">
            <button (click)="toggleDropdown()" class="group flex items-center gap-2 cursor-pointer bg-white border border-gray-300 text-black hover:shadow-sm px-2 py-1 rounded-lg">
                <i class="pi pi-user"></i>
                <span>{{ getUsername() }}</span>
                <i class="pi pi-angle-down"></i>
            </button>
    
            <div *ngIf="dropdownVisible" class="absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded-lg shadow-lg">
                <button icon="pi pi-sign-out" (click)="logout()" class="text-black p-button-danger w-full py-2">Déconnexion</button>
            </div>
        </div>
    
        <div *ngIf="!isLoggedIn()">
            <button (click)="goToLogin()" class="group flex items-center gap-2 cursor-pointer bg-white border border-gray-300 text-black hover:shadow-sm px-2 py-1 rounded-lg">
                <i class="pi pi-sign-in text-xs mr-2"></i>
                <span>Se connecter</span>
            </button>
        </div>
    </div>
</p-toolbar>

<p-splitter [panelSizes]="[20, 80]" [style]="{ height: 'calc(100vh - 80px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>

<p-sidebar class="relative" [(visible)]="isCartSidebarVisible" position="right" [style]="{ width: '40vw' }">
    <h1 class="text-black text-lg font-semibold text-center pb-5 pt-0 mt-0 border-b border-gray-300 mb-3">
        <i class="pi pi-shopping-cart"></i> &nbsp; Mon Panier
    </h1>

    <div *ngIf="cart().length > 0; else emptyCart">
        <div *ngFor="let item of cart()" class="flex justify-between items-center border-b py-2">
            <div class="flex items-start gap-2">
                <div>
                    <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.product.image" 
                         [alt]="item.product.name" class="w-16 rounded-md" />
                </div>
                <div>
                    <strong>{{ item.product.name }}</strong>
                    <div class="text-sm text-gray-600">${{ item.product.price }} x {{ item.quantity }}</div>
                </div>
            </div>
            <div class="flex items-center">
                <p-button (onClick)="decreaseQuantity(item.product.id, item.product.name)" icon="pi pi-minus" [rounded]="true" severity="info" />
                <span class="mx-2">{{ item.quantity }}</span>
                <p-button (onClick)="addToCart(item.product)" icon="pi pi-plus" [rounded]="true" severity="info" />
                
                <button (click)="removeFromCart(item.product.id, item.product.name)" class="ml-3 border bg-red-500 text-white rounded-lg px-2 py-1">
                    <i class="pi pi-trash"></i>
                </button>
            </div>
        </div>

        <div class="text-right mt-4">
            <strong>Total: ${{ getTotalPrice() }}</strong>
        </div>
    </div>

    <ng-template #emptyCart>
        <p class="text-center text-gray-500">Votre panier est vide.</p>
    </ng-template>
</p-sidebar>
