<div class="mx-auto w-full max-w-7xl p-4">
    <div class="flex justify-between mb-4">
        <h1 class="text-2xl font-bold text-center text-black">Liste des produits</h1>
        <button (click)="onCreate()" class="group flex items-center gap-2 cursor-pointer bg-black border border-gray-300 text-white hover:shadow-sm px-3 py-1.5 rounded-lg">
            Créer produit
        </button>  
    </div>

    <p-toast position="bottom-right"></p-toast>
 
    <div class="card">
        <p-dataView #dv [value]="products()" layout="list" [sortField]="sortField" [sortOrder]="sortOrder" [rows]="9" [paginator]="true">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row md:justify-content-between">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0 py-0 rounded-xl border border-gray-300" />
                    <p-dataViewLayoutOptions layout="list" />
                </div>
            </ng-template>
            <ng-template pTemplate="list" let-products>
                <div class="grid grid-nogutter">
                    <div class="col-12" *ngFor="let product of products; let first = first" class="col-12">
                        <div class="flex flex-column sm:flex-row sm:align-items-center py-4 px-3 gap-3" [ngClass]="{ 'border-top-1 border-gray-300': !first }">
                            <div class="md:w-10rem relative">
                                <img class="block xl:block mx-auto border-round w-full" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" />
                                <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)" class="absolute" [style.left.px]="4" [style.top.px]="4" />
                            </div>
                            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                    <div>
                                        <span class="font-medium text-secondary text-sm"><i class="pi pi-tag text-xs"></i> {{ product.category }}</span>
                                        <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                                    </div>
                                    <div class="surface-100 p-1" style="border-radius: 30px">
                                        <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                            <span class="text-900 font-medium text-sm">{{ product.rating }}</span>
                                            <i class="pi pi-star-fill text-yellow-500"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-column md:align-items-end gap-5">
                                    <span class="text-xl font-semibold text-900">{{ '$' + product.price }}</span>
                                    <div class="flex flex-row-reverse md:flex-row gap-2">
                                        <button (click)="onDelete(product)" 
                                            class="border border-red-500 text-red-500 rounded-lg py-1 px-2 hover:bg-red-500 hover:text-white">
                                            <i class="pi pi-trash text-lg"></i>
                                        </button>
                                        <button  (click)="onUpdate(product)" 
                                            class="border border-blue-700 text-blue-700 rounded-lg py-1 px-2 hover:bg-blue-700 hover:text-white">
                                            <i class="pi pi-pencil text-lg"></i>
                                        </button>
                                        <button 
                                            (click)="onAddToCart(product)"
                                            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                                            class="border bg-black text-white rounded-lg py-1 px-2 disabled:opacity-40 disabled:cursor-not-allowed">
                                            <i class="pi pi-shopping-cart"></i> Ajouter au panier
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="grid" let-products>
                <div class="grid grid-nogutter">
                    <div class="col-12 sm:col-6 md:col-4 xl:col-4 p-2" *ngFor="let product of products">
                        <div class="p-3 border-1 border-gray-300 surface-card rounded-xl flex flex-column">
                            <div class="flex justify-content-center rounded-xl">
                                <div class="relative mx-auto">
                                    <img class="rounded-xl w-full" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" style="max-width: 300px;" />
                                    <p-tag class="absolute top-2 left-2" [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                                </div>
                            </div>
                            <div class="pt-4">
                                <div class="flex flex-row justify-content-between align-items-start">
                                    <div>
                                        <span class="font-medium text-secondary text-sm"><i class="pi pi-tag text-xs"></i> {{ product.category }}</span>
                                    </div>
                                    <div class="surface-100 p-1" style="border-radius: 30px">
                                        <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                            <span class="text-900 font-medium text-sm">{{ product.rating }}</span>
                                            <i class="pi pi-star-fill text-yellow-500"></i>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-lg font-medium text-900 mt-1">{{ product.name }}</div>
                                </div>
                                <div class="flex flex-column gap-4 mt-4">
                                    <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                                    <div class="flex gap-2">
                                        <button (click)="onDelete(product)"
                                            class="border border-red-500 text-red-500 rounded-lg py-1 px-2 hover:bg-red-500 hover:text-white">
                                            <i class="pi pi-trash text-lg"></i>
                                        </button>
                                        <button  (click)="onUpdate(product)" 
                                            class="border border-blue-700 text-blue-700 rounded-lg py-1 px-2 hover:bg-blue-700 hover:text-white">
                                            <i class="pi pi-pencil text-lg"></i>
                                        </button>
                                        <button 
                                            (click)="onAddToCart(product)"
                                            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                                            class="w-full border bg-black text-white rounded-lg py-1 px-2 disabled:opacity-40 disabled:cursor-not-allowed">
                                            <i class="pi pi-shopping-cart"></i> Ajouter au panier
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    
    <p-dialog [(visible)]="isDialogVisible"
        [style]="{ width: '50vw' }"
        header="Ajout/Edition produit">
        <app-product-form
            [product]="editedProduct()"
            (save)="onSave($event)"
            (cancel)="onCancel()"
        />
    </p-dialog>
</div>

