/* PrimeNG */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";

/* Quill */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom SCSS */
@import "variables";

/* Main styles */
html,
body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  height: 100%;

  .transparent .navbar {
    display: none;
  }

  .root-container {
    .small {
      font-size: 12px;
    }

    .navbar {
      .p-menu {
        top: 52px !important;
        left: unset !important;
        right: 5px !important;
      }
    }

    app-breadcrumb .p-menuitem-text {
      color: var(--primary-font-color);
    }
  }
}

.unavailable {
  color: var(--disabled-text);
  pointer-events: none;

  * {
    border: 0;
  }

  .p-dropdown-trigger,
  .p-multiselect-trigger {
    display: none;
  }

  .p-float-label input.p-filled~label {
    top: 0rem !important;
  }

  app-file-upload-input {
    .custom-file-upload {
      p,
      div,
      span {
        display: none;
      }
    }

    button {
      display: none;
    }
  }
}

.flag {
  width: 20px !important;
  display: inline-block;
  height: 14px !important;
  color: transparent;
}

.p-toast .p-toast-message{
  box-shadow: none;
  border-radius: 12px;
}

.p-toast .p-toast-message.p-toast-message-success {
  border: 1px solid #1B5E20;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: .5rem 1rem;
}

::ng-deep .p-dialog {
  border-radius: 10px;
}

::ng-deep .p-dialog-header {
  background-color: #34d399;
  color: white;
}

::ng-deep .p-dialog-content {
  padding: 20px;
}

::ng-deep .p-dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.p-dataview .p-dataview-header{
  border: none;
}

.p-divider.p-divider-horizontal:before {
  border-top: 1px solid #eee !important;
}

.p-panelmenu .p-panelmenu-header-action {
  color: black;
  font-size: 14px;
  
}

.p-panelmenu-header-action.p-menuitem-link-active{
  font-weight: 700;
}

.p-panelmenu .p-panelmenu-header-action .p-menuitem-icon {
  font-size: 14px;
  font-weight: 500;
}